@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Poppins:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #1E40AF;
  --color-secondary: #3B82F6;
  --color-accent: #F59E0B;
  --color-light: #F3F4F6;
  --color-dark: #1F2937;

  --font-heading: 'Playfair Display', serif;
  --font-body: 'Poppins', sans-serif;
}


body {
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
}

.chart-container {
  position: relative;
  height: 350px;
}

.user-avatar {
  width: 40px;
  height: 40px;
}